# Build artifacts
target/
node_modules/
dist/

# Dart workspace artifacts
.dart_tool

# macOS-specific files
.DS_Store

# jetbrains setting folder
.idea/

# Avoid `pnpm-lock.yaml` files when not in the root. They are produced when
# building with `--ignore-worspace`.
**/pnpm-lock.yaml
